<section class="content-header">
    <div style="border-left: 2px solid #3c8dbc;padding-left: 15px;">当前位置：<span><a href="/background#/index">首页</a> > <a href="/background#/index/department/list">部门管理</a> > 部门列表</span></div>
</section>
<section class="content" ng-controller="departmentMngCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header clearfix box-search">
                    <button type="button" class="btn btn-primary pull-left" ui-sref="index.insertDepartment"><i class="fa fa-plus"></i> 新增部门</button>
                    <form class="form-horizontal pull-right" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="请输入部门名称" ng-model="tableParams.filter().content">
                                <span class="input-group-addon" ng-click="tableReload()"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-body">
                    <table ng-table="tableParams" class="table table-bordered table-condensed table-hover ">
                        <tr ng-repeat="item in $data"
                            ng-style="{'test' : mouseoverStyle(item.id)}"
                            ng-class="{'warning' : clickStyle(item.id)}"
                            style="cursor: pointer" ng-mouseenter="getMouseoverId(item.id)" ng-mouseleave="getMouseoverId(0)">
                            <td style="padding-left: 20px;" class="col-xs-3" data-title="'部门名称'" ng-bind="item.name"></td>
                            <td class="col-xs-6" data-title="'部门简介'" ng-bind="item.desc === '' ? '无' : item.desc"></td>
                            <td class="col-xs-3" data-title="'操作'" >
                                <a class="btn btn-primary btn-xs" href="javascript:;" ui-sref="index.updateDepartment({id :item.id})">编辑</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
