<section class="content-header">
    <div style="border-left: 2px solid #3c8dbc;padding-left: 15px;">当前位置：<span><a href="/background#/index">首页</a></span></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p style="padding:20px;padding-left:42px; font-size: 20px;">业务快捷导航</p>
                    <div class="row fastBtn">
                        <ul>
                            <li>
                                <a href="/background#/index/order/list/validate">
                                    <span style="background: #f92c00;"><i class="fa fa-file-text"></i></span>
                                    <p>订单管理</p>
                                </a>
                            </li>
                            <li>
                                <a href="/background#/index/payment/list">
                                    <span style="background: #61c400;"><i class="fa fa-jpy"></i></span>
                                    <p>结算管理</p>
                                </a>
                            </li>
                            <li>
                                <a href="/background#/index/driver/list">
                                    <span style="background: #009ff6;"><i class="fa fa-street-view"></i></span>
                                    <p>司机管理</p>
                                </a>
                            </li>
                            <li>
                                <a href="/background#/index/owner/list">
                                    <span style="background: #ffbb00;"><i class="fa fa-diamond"></i></span>
                                    <p>货主管理</p>
                                </a>
                            </li>
                            <li>
                                <a href="/background#/index/transportation/list">
                                    <span style="background: #6d0cbc;"><i class="fa fa-truck"></i></span>
                                    <p>运力管理</p>
                                </a>
                            </li>
                            <li>
                                <a href="/background#/index/station/list">
                                    <span style="background: #e83602;"><i class="fa fa-flag"></i></span>
                                    <p>场站管理</p>
                                </a>
                            </li>
                            <li>
                                <a href="/background#/index/department/list">
                                    <span style="background: #00a700;"><i class="fa fa-sitemap"></i></span>
                                    <p>部门管理</p>
                                </a>
                            </li>
                            <li>
                                <a href="/background#/index/user/list">
                                    <span style="background: #c70039;"><i class="fa fa-users"></i></span>
                                    <p>员工管理</p>
                                </a>
                            </li>
                            <li>
                                <a href="/background#/index/finance">
                                    <span style="background: #2974f1;"><i class="fa fa-bar-chart"></i></span>
                                    <p>财务管理</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.lyqcbd.com/" target="_blank">
                                    <span style="background: #06b23f;"><i class="fa fa-map-marker"></i></span>
                                    <p>GPS</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
