<section class="content-header">
    <div style="border-left: 2px solid #3c8dbc;padding-left: 15px;">当前位置：<span><a href="/background#/index">首页</a> > 线下订单列表</span></div>
</section>

<section class="content" ng-controller="offlineOrderMngCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header clearfix box-search">
                    <div class=" pull-left">
                        <div class="input-group" style="width: 250px">
                            <a class="input-group-addon" href="javascript:;" ng-click="create()">新增订单</a>
                        </div>
                    </div>
                    <form class="form-horizontal pull-right" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="请输入订单编号" ng-model="tableParams.filter().content">
                                <span class="input-group-addon" ng-click="tableReload()"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-body">
                    <table ng-table="tableParams" class="table table-bordered table-condensed table-hover">
                        <tr ng-repeat="item in $data"
                            ng-style="{'test' : mouseoverStyle(item.id)}"
                            ng-class="{'warning' : clickStyle(item.id)}"
                            style="cursor: pointer" ng-mouseenter="getMouseoverId(item.id)" ng-mouseleave="getMouseoverId(0)">
                            <td style="padding-left: 20px;" class="col-xs-1" data-title="'订单编号'">
                                {{item.number}}
                            </td>
                            <td class="col-xs-2" data-title="'货主信息'" ng-bind="item.ownerName + '  ' + item.ownerPhone"></td>
                            <td class="col-xs-1" data-title="'发货地'" ng-bind="item.oriProvince + item.oriCity + item.oriCounty"></td>
                            <td class="col-xs-1" data-title="'卸货地'" ng-bind="item.arrProvince + item.arrCity + item.arrCounty"></td>
                            <td data-title="'预计装货时间'" ng-bind="item.loadTime"></td>
                            <td class="col-xs-1" data-title="'货值'" ng-bind="item.cargoValue == null?'---' :item.cargoValue + '万元'"></td>
                            <td class="col-xs-1" data-title="'出价'" ng-bind="item.ownerFreight == null?'---' :item.ownerFreight + '元'"></td>
                            <td class="col-xs-1" data-title="'创建时间'" ng-bind="item.createTime"></td>
                            <td class="col-xs-1" data-title="'状态'" ng-bind="item.statusName"></td>
                            <td data-title="'操作'">
                                <a class="btn btn-primary btn-xs" href="javascript:;" ng-click="detail(item.id)">详情</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
