<section class="content-header">
    <div style="border-left: 2px solid #3c8dbc;padding-left: 15px;">当前位置：<span><a href="/background#/index">首页</a> > <a
            href="/background#/index/offlineOrder/list">线下订单列表</a> > 线下订单详情</span></div>
</section>
<section class="content" ng-controller="offlineOrderFormCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body" style="padding: 50px 0;">
                    <form class="form-horizontal clearfix" name="form" role="form" novalidate>
                        <div class="clearfix">
                            <div class="form-group col-sm-6">
                                <label class="control-label col-xs-3">订单编号</label>
                                <div class="col-xs-9">
                                    <input name="number" type="text" class="form-control"
                                           ng-model="order.number"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">货主类型</label>
                            <div class="col-xs-9">
                                <select ng-model="order.ownerType" class="form-control">
                                    <option ng-repeat="x in ownerTypes" value="{{x.value}}" ng-selected="order.ownerType == x.value">{{x.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">货主手机</label>
                            <div class="col-xs-9">
                                <input name="ownerPhone" type="text" class="form-control"
                                       ng-model="order.ownerPhone"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">货主姓名</label>
                            <div class="col-xs-9">
                                <input name="ownerName" type="text" class="form-control"
                                       ng-model="order.ownerName"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6" ng-show="order.ownerType == 1">
                            <label class="control-label col-xs-3">货主身份证号</label>
                            <div class="col-xs-9">
                                <input name="ownerIdCardNum" type="text" class="form-control"
                                       ng-model="order.ownerIdCardNum"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6" ng-show="order.ownerType == 2">
                            <label class="control-label col-xs-3">货主公司</label>
                            <div class="col-xs-9">
                                <input name="companyName" type="text" class="form-control"
                                       ng-model="order.companyName"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6" ng-show="order.ownerType == 2">
                            <label class="control-label col-xs-3">统一信用代码</label>
                            <div class="col-xs-9">
                                <input name="companyLicenseCode" type="text" class="form-control"
                                       ng-model="order.companyLicenseCode"/>
                            </div>
                        </div>

                        <div class="form-group col-sm-6" ng-show="order.ownerType == 2">
                            <label class="control-label col-xs-3">所在省</label>
                            <div class="col-xs-9">
                                <input name="companyProvince" type="text" class="form-control"
                                       ng-model="order.companyProvince"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6" ng-show="order.ownerType == 2">
                            <label class="control-label col-xs-3">所在市</label>
                            <div class="col-xs-9">
                                <input name="companyCity" type="text" class="form-control"
                                       ng-model="order.companyCity"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6" ng-show="order.ownerType == 2">
                            <label class="control-label col-xs-3">所在区/县</label>
                            <div class="col-xs-9">
                                <input name="companyCounty" type="text" class="form-control"
                                       ng-model="order.companyCounty"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6" ng-show="order.ownerType == 2">
                            <label class="control-label col-xs-3">所在地址</label>
                            <div class="col-xs-9">
                                <input name="companyAddr" type="text" class="form-control"
                                       ng-model="order.companyAddr"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">司机姓名</label>
                            <div class="col-xs-9">
                                <input name="driverName" type="text" class="form-control"
                                       ng-model="order.driverName"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">司机手机</label>
                            <div class="col-xs-9">
                                <input name="driverPhone" type="text" class="form-control"
                                       ng-model="order.driverPhone"/>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">装货联系人</label>
                            <div class="col-xs-9">
                                <input name="loadContact" type="text" class="form-control"
                                       ng-model="order.loadContact"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">装货联系人手机</label>
                            <div class="col-xs-9">
                                <input name="loadPhone" type="text" class="form-control"
                                       ng-model="order.loadPhone"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">装货时间</label>
                            <div class="col-xs-9">
                                <input name="loadTime" type="text" class="form-control"
                                       ng-model="order.loadTime"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">发货省</label>
                            <div class="col-xs-9">
                                <input name="oriProvince" type="text" class="form-control"
                                       ng-model="order.oriProvince"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">发货市</label>
                            <div class="col-xs-9">
                                <input name="oriCity" type="text" class="form-control"
                                       ng-model="order.oriCity"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">发货区/县</label>
                            <div class="col-xs-9">
                                <input name="oriCounty" type="text" class="form-control"
                                       ng-model="order.oriCounty"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">发货详细地址</label>
                            <div class="col-xs-9">
                                <input name="oriAddress" type="text" class="form-control"
                                       ng-model="order.oriAddress"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">卸货联系人</label>
                            <div class="col-xs-9">
                                <input name="dischargeContact" type="text" class="form-control"
                                       ng-model="order.dischargeContact"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">卸货联系人手机</label>
                            <div class="col-xs-9">
                                <input name="dischargePhone" type="text" class="form-control"
                                       ng-model="order.dischargePhone"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">卸货时间</label>
                            <div class="col-xs-9">
                                <input name="landTime" type="text" class="form-control"
                                       ng-model="order.landTime"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">卸货省</label>
                            <div class="col-xs-9">
                                <input name="arrProvince" type="text" class="form-control"
                                       ng-model="order.arrProvince"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">卸货市</label>
                            <div class="col-xs-9">
                                <input name="arrCity" type="text" class="form-control"
                                       ng-model="order.arrCity"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">卸货区/县</label>
                            <div class="col-xs-9">
                                <input name="arrCounty" type="text" class="form-control"
                                       ng-model="order.arrCounty"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">卸货详细地址</label>
                            <div class="col-xs-9">
                                <input name="arrAddress" type="text" class="form-control"
                                       ng-model="order.arrAddress"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">货物类型</label>
                            <div class="col-xs-9">
                                <input name="cargoType" type="text" class="form-control"
                                       ng-model="order.cargoType"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">货物描述</label>
                            <div class="col-xs-9">
                                <input name="cargoDesc" type="text" class="form-control"
                                       ng-model="order.cargoDesc"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">吨数</label>
                            <div class="col-xs-9">
                                <input name="ton" type="text" class="form-control"
                                       ng-model="order.ton"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">立方数</label>
                            <div class="col-xs-9">
                                <input name="cube" type="text" class="form-control"
                                       ng-model="order.cube"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">件数</label>
                            <div class="col-xs-9">
                                <input name="pieces" type="text" class="form-control"
                                       ng-model="order.pieces"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">货值(万元)</label>
                            <div class="col-xs-9">
                                <input name="cargoValue" type="text" class="form-control"
                                       ng-model="order.cargoValue"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">运费出价(元)</label>
                            <div class="col-xs-9">
                                <input name="ownerFreight" type="text" class="form-control"
                                       ng-model="order.ownerFreight"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">实收运费(元)</label>
                            <div class="col-xs-9">
                                <input name="finalFreight" type="text" class="form-control"
                                       ng-model="order.finalFreight"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">司机运费(元)</label>
                            <div class="col-xs-9">
                                <input name="driverFreight" type="text" class="form-control"
                                       ng-model="order.driverFreight"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">运费结算方式</label>
                            <div class="col-xs-9">
                                <input name="driverPayType" type="text" class="form-control"
                                       ng-model="order.driverPayType"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">实际发货时间</label>
                            <div class="col-xs-9">
                                <input name="transportTime" type="text" class="form-control"
                                       ng-model="order.transportTime"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">实际收货时间</label>
                            <div class="col-xs-9">
                                <input name="completeTime" type="text" class="form-control"
                                       ng-model="order.completeTime"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label col-xs-3">备注</label>
                            <div class="col-xs-9">
                                <input name="remarks" type="text" class="form-control"
                                       ng-model="order.remarks"/>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 30px;">
                            <div class="col-xs-12 text-center">
                                <button class="btn btn-primary" type="submit" ng-click="confirm();"
                                        style="margin-right: 10px;">确认
                                </button>
                                <button class="btn btn-primary" type="submit" ng-click="deleteOrder();"
                                        style="margin-right: 10px;" ng-show="order.id > 0">删除
                                </button>
                                <button class="btn btn-primary" type="submit" ui-sref="index.offlineOrderMng"
                                        style="margin-right: 10px;">返回
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

