<section class="content-header">
    <div style="border-left: 2px solid #3c8dbc;padding-left: 15px;">当前位置：<span><a href="/background#/index">首页</a> > <a href="/background#/index/transportation/list">运力管理</a> > 运力列表</span></div>
</section>
<section class="content" ng-controller="transportationMngCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header clearfix box-search">
                    <button type="button" class="btn btn-primary pull-left" ui-sref="index.insertTransportation"><i class="fa fa-plus"></i> 新增运力</button>
                    <form class="form-horizontal pull-right" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="请输入车牌号" ng-model="tableParams.filter().content">
                                <span class="input-group-addon" ng-click="tableReload()"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-body">
                    <table ng-table="tableParams" class="table table-bordered table-condensed table-hover">
                        <tr ng-repeat="item in $data"
                            ng-style="{'test' : mouseoverStyle(item.id)}"
                            ng-class="{'warning' : clickStyle(item.id)}"
                            style="cursor: pointer" ng-mouseenter="getMouseoverId(item.id)" ng-mouseleave="getMouseoverId(0)">
                            <td style="padding-left: 20px;" class="col-xs-1" data-title="'车牌号'" >
                                {{item.licenseNum}}
                            </td>
                            <td class="col-xs-1" data-title="'品牌'" ng-bind="item.brand"></td>
                            <td class="col-xs-1" data-title="'车型'" ng-bind="item.type"></td>
                            <td class="col-xs-1" data-title="'载重'" ng-bind="item.loadTons + '吨/' + item.loadCubic + '立方'" ></td>
                            <td class="col-xs-1" data-title="'尺寸'" ng-bind="'长:' + item.length + '米/宽:' + item.width + '米/高' + item.height + '米'"></td>
                            <td class="col-xs-1" data-title="'操作'" >
                                <a class="btn btn-primary btn-xs" href="javascript:;" ui-sref="index.transportationDetail({id : item.id})">编辑</a>
                                <a class="btn btn-warning btn-xs" href="javascript:;" ng-click="delete(item.id)">删除</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

