<section class="content-header">
    <div style="border-left: 2px solid #3c8dbc;padding-left: 15px;">当前位置：<span><a href="/background#/index">首页</a> > <a href="/background#/index/user/list">员工管理</a> > 员工列表</span></div>
</section>
<section class="content" ng-controller="userMngCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header clearfix box-search">
                    <button type="button" class="btn btn-primary pull-left" ui-sref="index.insertUser"><i class="fa fa-plus"></i> 新增员工</button>
                    <form class="form-horizontal pull-right" role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="请输入员工姓名/手机" ng-model="tableParams.filter().content">
                                <span class="input-group-addon" ng-click="tableReload()"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-body">
                    <table ng-table="tableParams" class="table table-bordered table-condensed table-hover">
                        <tr ng-repeat="item in $data"
                            ng-style="{'test' : mouseoverStyle(item.id)}"
                            ng-class="{'warning' : clickStyle(item.id)}"
                            style="cursor: pointer" ng-mouseenter="getMouseoverId(item.id)" ng-mouseleave="getMouseoverId(0)">
                            <td style="padding-left: 20px;" class="col-xs-2" data-title="'员工姓名'" ng-bind="item.name"></td>
                            <td class="col-xs-2" data-title="'员工手机'" ng-bind="item.phone"></td>
                            <td class="col-xs-2" data-title="'所属部门'" >
                                {{item.department}}
                            </td>
                            <td class="col-xs-2" data-title="'状态'" ng-bind="item.statusName"></td>
                            <td class="col-xs-4" data-title="'操作'" >
                                <a class="btn btn-primary btn-xs" href="javascript:;" ui-sref="index.updateUser({id : item.id})">编辑</a>
                                <a class="btn btn-danger btn-xs" href="javascript:;" ng-click="disabled(item.id)" ng-show="item.status != -1">禁用</a>
                                <a class="btn btn-success btn-xs" href="javascript:;" ng-click="enabled(item.id)" ng-show="item.status == -1">启用</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

